.github/
.nyc_output/
.vscode/
bin/
commands/
components/
config/
coverage/
docs/
examples/
guides/
hooks/
lib/
plugins/
release-aliases/
tasks/
test/
utils/

*.test.ts
*.spec.ts
*.map
.eslintrc.*
.prettierrc*
tsconfig.json
tsconfig.*.json
