name: Deploy npm

on:
  workflow_call:
    secrets:
      github-token:
        description: 'The github token'
        required: true
      npm-token:
        description: 'The npm deploy token'
        required: true

jobs:
  deploy-npm:
    runs-on: ubuntu-24.04
    env:
      TERM: xterm
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint code
        run: bun run lint
      - name: Run unit tests
        run: bun run test:unit

      - name: Update edge release alias
        shell: bash
        run: |
          if ./scripts/semcompare.sh "${{ github.event.release.tag_name }}" "$(cat ./release-aliases/4-EDGE)"; then
            echo "${{ github.event.release.tag_name }}" > ./release-aliases/4-EDGE
          fi
      - name: Update stable release alias
        shell: bash
        if: github.event.release.prerelease == false
        run: |
          if ./scripts/semcompare.sh "${{ github.event.release.tag_name }}" "$(cat ./release-aliases/4-STABLE)"; then
            echo "${{ github.event.release.tag_name }}" > ./release-aliases/4-STABLE
          fi

      - name: Prepare Release
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          sync-token: ${{ secrets.github-token }}
          sync-email: rtfm47@lando.dev
          sync-username: rtfm-47

      - name: Publish to npm
        run: |
          VERSION=$(node -p "require('./package.json').version")
          PACKAGE=$(node -p "require('./package.json').name")

          npm publish --access public --tag next --dry-run
          npm publish --access public --tag next

          echo "::notice title=Published $VERSION to $PACKAGE::This is a next release published to the 'next' npm tag"
          echo "::notice title=Updated next tag to $VERSION::The next tag now points to $VERSION"
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm-token}}
