name: Core Protected Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        leia-test:
          # - l337-ssh
          # - init-github
          # - init-remote
          # - private-plugins
          - yaml
        node-version:
          - "20"
        bun-version:
          - "1.3.5"
        os:
          # - macos-14
          - ubuntu-24.04
          # - windows-2022
        shell:
          - bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
      - name: Install bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build Bun binary
        id: build-binary
        run: |
          bun build ./bin/lando --compile --outfile dist/lando
          echo "file=$(pwd)/dist/lando" >> $GITHUB_OUTPUT
      - name: Setup lando ${{ steps.build-binary.outputs.file }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ steps.build-binary.outputs.file }}
          telemetry: false
          config: |
            setup.skipCommonPlugins=true
      - name: Run Leia Tests
        uses: lando/run-leia-action@bunify # TODO: switch to v2 after bunify is merged
        with:
          leia-test: "./examples/${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: ${{ matrix.shell }}
          stdin: true
          runtime: bun
