name: Core Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
      DEBUG: "lando*"
      LANDO_CORE_RUNTIME: 4
      LANDO_CORE_DEV__MODE: 1
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        node-version:
          - '16'
        leia-tests:
          # - examples/badname
          - examples/base
          # - examples/events
          # - examples/keys
          # - examples/lando-101
          # - examples/landofile-custom
          # - examples/long-name
          # - examples/networking
          # - examples/proxy
          # - examples/scanner
          # - examples/services
          # - examples/tooling
        lando-versions:
        # NOTE: we will want to progressively scale down the "risk" as the 3.x cli runtime 4 handling matures
          # - edge
          # - stable
          - dev
    steps:

      # Install deps and cache
      # Eventually it would be great if these steps could live in a separate YAML file
      # that could be included in line to avoid code duplication
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Get Yarn cache directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Use Yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile

      # This block should eventually become use lando/actions-hyperdrive@v2
      - name: Verify Docker dependencies
        run: |
          docker --version | grep "20.10."
          docker-compose --version | grep "1.29."
      - name: Grab Lando CLI
        run: |
          sudo curl -fsSL -o /usr/local/bin/lando "https://files.lando.dev/cli/lando-linux-x64-${{ matrix.lando-versions }}"
          sudo chmod +x /usr/local/bin/lando

      # eventually we should probably use lando itself to dogfood the plugin
      # either with better linking eg using lando config --path system.data-dir or a testing plugin
      - name: Globally dogfood the plugin
        run: |
          mkdir -p ~/.local/share/lando/plugins/@lando
          ln -sf "$(pwd)" ~/.local/share/lando/plugins/@lando/core-next
          ls -lsa ~/.local/share/lando/plugins/@lando
          lando --clear
      - name: Verify we can run the packaged CLI
        run: |
          lando version --all
          lando config
          lando

      # This block should eventually become use lando/actions-leia@v2
      - name: Run leia tests
        shell: bash
        run: yarn leia "./${{ matrix.leia-tests }}/README.md" -c 'Destroy tests' --stdin --shell bash
