name: Core Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        leia-test:
          - badname
          - build
          - c,o,m,m,a
          - cache
          - certs
          - command
          - config
          - debug
          - envfile
          - entrypoint
          # - environment
          - events
          - excludes
          - exec
          - experimental
          - healthcheck
          - host
          # - hostnames
          - info
          - keys
          - l337
          # - lando-v4
          - landofile
          - landofile-custom
          - list
          - logs
          - long-name
          - mounts
          - networking
          - no-services
          - orchestrator
          - plugins
          - proxy
          - rebuild
          - renderer
          - recipes
          - release-channel
          - restart
          - scanner
          - security
          - sluggy
          - sql-helpers
          - ssh
          # - storage
          - tooling
          - update
          - version
          - yaml
        bun-version:
          - "1.3.5"
        os:
          # - macos-14
          - ubuntu-24.04
          # - windows-2022
        shell:
          - bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build lando binary
        run: |
          bun build ./bin/lando --compile --outfile=dist/lando
          chmod +x dist/lando
          echo "file=$(pwd)/dist/lando" >> $GITHUB_OUTPUT
        id: build-binary
      - name: Setup lando ${{ steps.build-binary.outputs.file }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ steps.build-binary.outputs.file }}
          telemetry: false
          config: |
            setup.skipCommonPlugins=true
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        with:
          leia-test: "./examples/${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: ${{ matrix.shell }}
          stdin: true
