name: Run Docs Tests

on:
  pull_request:

jobs:
  docs-tests:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        bun-version:
          - "1.3.5"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Cache version builds
        uses: actions/cache@v4
        with:
          key: lando-mvb-docs
          path: docs/.vitepress/cache/@lando/mvb
      - name: Install bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Install dependencies
        run: bun install --frozen-lockfile

      # Run tests
      - name: Run linter
        run: bun run lint
      - name: Test mvb
        run: bun run docs:mvb
      - name: Test build
        run: bun run docs:build

  lando-docs-tests:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: "@lando/*"
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        bun-version:
          - "1.3.5"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build Bun binary
        id: build-binary
        run: |
          bun build ./bin/lando --compile --outfile dist/lando
          echo "file=$(pwd)/dist/lando" >> $GITHUB_OUTPUT
      - name: Setup lando ${{ steps.build-binary.outputs.file }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ steps.build-binary.outputs.file }}
          telemetry: false
          config: |
            setup.skipCommonPlugins=true
      - name: Lando tests
        run: |
          lando start
          lando vitepress build docs
