name: License Check

on:
  pull_request:

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        bun-version:
          - "1.3.5"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run license check
        run: |
          bun add -g license-checker
          bunx license-checker --production --summary
