name: Lint Code

on:
  pull_request:

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        bun-version:
          - "1.3.5"
    steps:
      # Install deps and cache
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Install dependencies
        run: bun install --frozen-lockfile

      # Run the linter
      - name: Run code linter
        run: bun run lint
