name: PR Release Tests

on:
  pull_request:

jobs:
  package:
    uses: ./.github/workflows/pkg-binary.yml
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - arm64
        os:
          - linux
          - macos
          - win
    with:
      arch: ${{ matrix.arch }}
      filename: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ github.sha }}
      os: ${{ matrix.os }}
      version: dev

  verify:
    uses: ./.github/workflows/generate-checksums.yml
    needs:
      - package
    with:
      download-pattern: packaged-lando-*
      flatten: true
      show: true

  release:
    runs-on: ubuntu-24.04
    needs:
      - verify
    steps:
      - name: Create releases
        run: mkdir -p /tmp/releases
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: /tmp/releases
          merge-multiple: true
      - name: Upload release files
        uses: actions/upload-artifact@v4
        with:
          name: pr-release-test-${{ github.sha }}
          path: /tmp/releases/*
          if-no-files-found: error
          retention-days: 1

  npm:
    runs-on: ubuntu-24.04
    needs:
      - release
    env:
      TERM: xterm
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint code
        run: bun run lint
      - name: Run unit tests
        run: bun run test:unit

      - name: Prepare Release
        uses: lando/prepare-release-action@v3
        with:
          version: dev
          sync: false
          lando-plugin: true

      - name: Publish to npm dryrun
        run: npm publish --access public --tag next --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_DEPLOY_TOKEN }}
